body{
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
}

.card_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.card{

    background-color: rgb(58, 54, 54);
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (min-width:800px){
    .card_container{
        flex-direction: row;
    }
}